# vs
.vs/
x64/
vcpkg_installed/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
﻿**/zig-cache
**/zig-out
playground/v0.11/with_c/src-c/build
**/zig-cache/
playz/v0.11/with_c/src-c/build
.idea
cmake-build-debug
/build
playc/hv/hv-server/libhv.*.log
playc/hv/hv-client/libhv.*.log
*.vcxproj.user
xkyss-core/int
xkyss-core/out
xkyss-core/.zig-cache
playz/**/.zig-cache
**/.zig
**/.zig-cache
